.hero {
    padding: 5rem;
    display: flex;
    justify-content: space-around;
}

.hero .hero-image {
    width: 600px;
}

.hero h1 {
    font-size: 3em;
    font-weight: lighter;
}

.hero h2 {
    font-size: 2em;
    font-weight: lighter;
    color: #CCC;
    margin: 0;
}

.hero h2:hover {
    letter-spacing: 1px;
    transition: ease 1s;
}

@media(max-width: 1230px){
    .hero h1 {
        font-size: 2.5em;
    }
    
    .hero h2 {
        font-size: 1.5em;
    }
}

@media(max-width: 1110px){
    .hero {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: 5em;
    }
    
    .hero h1 {
        font-size: 3em;
    }
    
    .hero h2 {
        font-size: 2em;
    }    

}

@media(max-width: 530px){
    .hero .hero-image {
        display: none;
    }

    .hero h1 {
        font-size: 2.5em;
    }
    
    .hero h2 {
        font-size: 1.5em;
    }
}