:root {
    --backgroud: #121412;
    --primary: #3BC236;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--backgroud);
    color: white;
}

section {
    margin: 5em auto;
}